/* 141414 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #141414;
}

#navbar {
    height: 100px;
}

.navbar-logo {
    height: 100px;
    margin: 20px 20px;
}

.navbar-list {
    list-style: none;
    float: right;
    margin-right: 20px;
}

.navbar-list li {
    display: inline;
}

.navbar-list li a {
    margin: 0px 20px;
    line-height: 100px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
}