/* 141414 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {     
    background-color: #141414;
    font-family: 'Montserrat';
}

body {
  width: 1300px;
  margin: 0 auto;
}

/* NAVBAR */
#navbar {
    height: 100px;
    /* border: 1px solid red; */
}

.navbar-logo {
    height: 90px;
    margin: 20px 30px;
}

.navbar-list {
    list-style: none;
    float: right;
    margin-right: 20px;
}

.navbar-list li {
    display: inline;
}

.navbar-list li a {
    margin: 0px 20px;
    line-height: 100px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
}

/* ABOUT */
#about {
    height: 80vh;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.about-left {
    height: 100%;
    width: 50%;
    text-align: right;
    /* border: 1px solid pink; */
}

.about-left h1 {
    background: #fff;
    color: #141414;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    padding: 0px 123px;
}

.about-left p {
    width: 100%;
    margin: 20px 0px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Varela Round';
    color: white;
}

.about-right {
    height: 100%;
    width: 50%;
    text-align: center;
    /* border: 1px solid pink; */
}

.about-right img {
    height: 30em;
}

@media (min-width: 200px) and (max-width: 577.98px){ 
    #about {
        flex-direction: column;
    }
}

@media (min-width: 800px) {
    body {
        width: 1100px;   
    }

    .about-left h1 {
      padding: 2px 0px;
      font-size: 45px
    }

    .about-left p {
      font-size: 18px;
    }

    .about-right img {
      height: 25em;
    }
}

@media (min-width: 1290px) {
  body {
      width: 1300px;   
  }
}

#faq {
    background-color: #e7e7e7;
    padding: 30px 0;
    text-align: center;
}

.faq-container {
    width: 70%;
    margin: 30px auto;
}

.faq-pergunta {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    margin: inherit;

}

.faq-pergunta p {   
    color: #141414;
    margin: 0 20px;
    align-self: center;
}

.faq-btn {
    padding: 5px 10px;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #141414;
    margin: 0 20px;
    font-weight: bold;
    cursor: pointer;
}
